body{
    margin: 0;
    font-family:"Open Sans", sans-serif;
    background-position: center;
}

html{
    scroll-behavior: smooth;
}

/* Header */

.logo-text{
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 14px;
    padding: 20px 3px 20px 2em;
    width: 40%;
    display: inline-block;
    font-weight: bold;
    text-align: left;
}

.header{
    background-color: rgb(25, 25, 105);
}

.js .header__nav{
    transition:0.5s;
}

.header__nav ul{
    margin: 0;
    padding: 0;
}

.header__nav li{
    list-style-type: none;
    background-color: rgb(25, 25, 105);
    white-space: nowrap;
    text-align: center;
    border-top: solid 1px white;
}

.header__nav li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    display: block;
    padding: 18px 10px;
}

.header__nav li a:hover{
    transition: 0.3s ease;
    cursor: pointer;
    color: rgb(99, 165, 177);
}

.header .header-icons{
    padding-right: 0.5em;
}

.js .header__BtnMenu{
    float: right;
    font-size: 30px;
    margin: 0.3em 1em;
    background-color: transparent;
    color: white;
    border: none;
}

.js .header__BtnMenu:hover{
    cursor: pointer;
    transform: scale(1.4);
    transition: 0.3s;
}

.showCert{
    display: block;
    transition: max-height 0.4s ease-in-out;
}

.showCert a {
    background-color: rgb(0, 87, 149);
    color: white;
    font-size: 15px;
}

.btn-contacts{
    translate: 1s;
}

.fa-arrow-down{
    float: right;
    transition: Transform 0.4s;
}

/* Profile Section */
.profile-section{
    background-image: linear-gradient(to right, rgb(0, 93, 180),rgb(0, 255, 149) );
    width: 100%;
    height: 450px;
}

.profile-text{
    clear: left;
    text-align: center;
    color:white;
}

.profile-text h2{
    font-size: 2em;
}

.profile-text span{
    text-decoration: underline;
}

.icon-tech{
    width: 200px;
    height: 200px;
    padding-top: 3em;
}

/* Section Article */
.section-article{
    background-image: linear-gradient(to right ,aquamarine, rgb(125, 189, 189));
    padding-bottom:10px;
    padding-top:10px;
}

.section-article article{
    opacity: 0;
}

.js .show{
    opacity: 1;
    transition: 1.5s;
}

.perfil{
    color: rgb(255, 255, 255);
    text-align: center;
}

.perfil p{
    background-color: rgba(0, 37, 80, 0.753);
    border-radius: 30px;
    box-shadow: 0 0 0.5em rgb(44, 63, 63);
    margin: 0 3vw;
    padding: 25px 20px;
    font-size: 20px;
}

.curriculo-img{
    width: 30%;
    text-align: center;
    border: 5px solid rgb(10, 10, 68);
    border-radius: 50%;
}

.content-icons{
    display: none;
}

.main-article{
    background-color: rgba(0, 37, 80, 0.582);
    margin: 10px 3vw 10px;
    padding: 3px 20px;
    color: rgb(255, 255, 255);
    border-radius: 25px;
    font-size: 20px;
    text-align: center;
    box-shadow: 0 0 0.5em rgb(44, 63, 63)
}

.main-article abbr{
    border-bottom: none;
    text-decoration: none;
}

.secondary-article{
    background-color: rgba(0, 37, 80, 0.753);
    margin: 0 3vw;
    padding: 3px;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    font-size: 25px;
    text-align: center;
    box-shadow: 0 0 0.5em rgb(44, 63, 63)
}

/* Section Project */

.section-project{
    background-image:linear-gradient(to top, rgb(0, 49, 134), rgb(0, 119, 198));
    text-align: center;
    padding-bottom: 20px;
}

.section-project h1{
    color: rgb(188, 198, 207);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration:underline;
    margin: 0;
    padding: 20px;
}

.cards{
    background-image: linear-gradient(to right ,aquamarine, rgb(125, 189, 189));
    width: 60%;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 20px;
    padding-bottom: 10px;
    box-shadow: 0 0 1em rgb(44, 63, 63)
}

.cards:hover{
    transform: scale(1.04);
    outline: 2px solid cyan;
    transition: 1s ease;
}

.project-cards{
    width:80%;
    border-radius: 20px;
    padding-top: 10px;
}


.project-content{
    color: white;
    padding: 10px;
    text-align: left;
    background-color: rgb(1, 100, 100);
    border-radius: 20px;
    margin: 10px 10px 0 10px;
    word-wrap: break-word;
    position: relative;
}
.project-content h2, .project-content p{
    display: block;
    width: 80%;
}

.square{
    font-size: 35px;
    text-decoration: none;
    color: white;
    float: right;
    position: absolute;
    top:40%;
    right: 10%;
}

.square:hover{
    color: rgb(0, 150, 170);
    transition: 0.1s ease ;
}

.js .link-project{
    display: none;
}

.container:last-child{
    margin: 0 auto;
}

/* Footer */
footer{
    background-color: rgb(0, 0, 75);
    justify-content: space-around;
    color: white;
    display: flex;
}

.copyright a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

.copyright{
    margin: auto 0;
    display: inline-block;
}

.copyright a:hover{
    transition: 0.3s ease;
    cursor: pointer;
    color: rgb(99, 165, 177);
}

.contact a{
    color: white;
    text-decoration: none;
}

.contact{
    display: inline-block;
}

.contact ul{
    list-style-type: none;
    display: flex;
}

.contact li{
    font-size: 1.2em;
    margin-left:10px;
}

.contact a:hover{
    transition: 0.3s ease;
    cursor: pointer;
    color: rgb(99, 165, 177);
}
@media screen and (min-width: 769px){

    @keyframes girar{
        0%{
            transform: rotate(0deg);
        }
        
        100%{
            transform: rotate(360deg);
        }
    }
    
    @keyframes background{
        0%{background-position: -10vw 0}
        100%{background-position:88vw 0}
    }

    body{
        background-image: url("../img/ocean.jpg");
    }

    /* Header */

    .logo-text{
        width: 25%;
        box-sizing: border-box;
        float: left;
        font-size: 15px;
        margin:0;
    }

    .header{
        position:fixed;
        z-index: 2;
        background-color: rgb(25, 25, 105) ;
        width: 100%;
    }
    
    .header__nav{
        float: left;
        width: 75%;
        max-width: 800px;
    }

    .header__nav li{
        flex-grow: 1;
    }

    .header__BtnMenu{
        display: none;
    }

    .header-ul{
        display: flex;
        justify-content: space-around;
        clear: both;
    }

    .showCert{
        display: flex;
        position: absolute;
        left: 0;
        width: 100%;
    }

    .showCert li a{
        font-size: 12px;
    }

    /* Profile Section */
    .profile-section{
        height: 500px;
        animation: background 7s linear infinite;
        background-image: linear-gradient(to right, rgb(0, 93, 180, 0.274),rgba(0, 255, 55, 0.274), rgb(0, 93, 180, 0.274));
    }

    .profile-text{
        padding-top: 150px;
    }

    .icon-tech{
        animation: girar 3s linear infinite;
        background-color: red;
        border-radius: 50%;
        padding: 0;
    }

    /* Section Article */
    .perfil img{
        margin: 0 20px;
        float: left;
        width: 30%;
        max-width:210px;
    }

    .perfil p{
        display:flex;
    }

    .content-icons{
        float: left;
        margin:20px 20px 10px ;
        padding: 0;
        display: flex;
        list-style-type: none;
        clear: left;
        width: 30%;
        justify-content: space-around;
        max-width:280px;
    }

    .content-icons li{
        font-size: 50px;
    }

    .main-article{
        display: flex;
    }

    .secondary-article{
        background-color: transparent;
        border-radius: none;
        box-shadow: none;
        color:rgb(0, 37, 80);
    }

    /* Section Project */

    .section-project{
        background-image:linear-gradient(to top, rgba(0, 0, 90, 0.795), rgba(0, 113, 128, 0.795))
    }

    .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .cards{
        width: 60%;
    }

    .fa-square-js{
        color: yellow;
    }

    .fa-css3-alt{
        color: blue;
    }

    .fa-html5{
        color: orangered;
    }

    .container:last-child{
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 1025px){

    @keyframes background2{
        0%{background-position: -19vw 0}
        100%{background-position:70vw 0}
    }

    body{
        width: 90%;
        margin: auto;
        position: relative;
    }

    /* Header */

    .header{
        width: 90%;
    }

    .header__nav{
        float:right;
    }

    .header__BtnMenu{
        display: none;
    }

    .showCert{
        width:100%;
    }

    /* Profile Section */

    .profile-section{
        animation: background2 7s linear infinite;
        background-image: linear-gradient(to right, rgb(0, 93, 180, 0.274),rgba(0, 255, 55, 0.274), rgb(0, 93, 180, 0.274));
    }

    .content-icons{
        margin:20px auto 10px;
        align-items: center;
        display: flex;
        list-style-type: none;
        width: 100%;
        justify-content: space-around;
    }

    /* Section Article */

    .main-article{
        height: 45%;
    }

    .content-icons li{
        font-size: 80px;
    }

    /* Section Projects */
    .container{
        grid-template-columns: repeat(3,1fr);
    }

    .cards{
        width: 80%;
    }
}


@media screen and (min-width: 1281px){
    @keyframes background3{
        0%{background-position: -9vw 0}
        100%{background-position:70vw 0}
    }

    body{
        width: 80%;
    }

    /* Header */

    .header{
        width: 80%;
    }

    .profile-section{
    animation: background3 7s linear infinite;
    background-image: linear-gradient(to right, rgb(0, 93, 180, 0.274),rgba(0, 255, 55, 0.274), rgb(0, 93, 180, 0.274));
    }
}